@page "/product"

@using BlazorTest.Client.Models


@inject HttpClient http



<h3 class="mb-3">Products</h3>

<button class="mb-3 btn btn-primary float-end" > Crear un Producto</button>

<BlazorConsumesApi.Client.Shared.Components.Products.ListProducts/>


@code {
   

    ProductsJson jason = new ProductsJson();

   

    public async Task Create(ProductsJson json)
    {
        await http.PostAsJsonAsync("api/Product/PostProducts", json);
       
    }

  

    

}



